.prathik-prejith-container {
  flex-shrink: 0;
  font-family: DrukWide, sans-serif;
  font-size: clamp(2.2rem, 5.7vw, 6.5rem);
  line-height: 1.15;
  letter-spacing: -.035em;
  white-space: nowrap;
  color: var(--text);
}
