.fullstack-dev-container {
  flex-shrink: 0;
  font-family: DrukWide, sans-serif;
  font-size: clamp(1.8rem, 4.5vw, 5rem);
  line-height: 1.2;
  letter-spacing: -.025em;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px var(--text);
}
