.homepage-container {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: black;
    position: absolute;
    overflow: hidden;

    .welcome-comp {
        z-index: 100;
        animation: welcome-comp-delay 2s forwards;
        position: absolute;
        left: 50%;
    }
}

@keyframes welcome-comp-delay {
    0% {
        opacity: 1;
        z-index: 100;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index:-10;
    }
}

.pp-comp {
    position: absolute;
    rotate: -30deg;
    left: -90%;
    top:-450px;
    z-index: 0;
    opacity: 0;
    animation: pp-appear 1s forwards 2s;
    display: flex;
    gap: 60px;
    transform: translateX(40%);
}

.fullstack-comp {
    position: absolute;
    rotate: -30deg;
    left: -105%;
    top: -600px;
    z-index: 0;
    opacity: 0;
    animation: fullstack-appear 1s forwards 2s;
    display: flex;
    gap: 60px;
    transform: translateX(-85%);
}

.marquee-pp {
    animation: ppmarquee 15s linear infinite;

}

.marquee-fullst {
    animation: fullstackmarquee 20s linear infinite;

}

@keyframes pp-appear {
    0% {
        opacity: 1;
        -webkit-transform: translateX(40%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(-12%);
    }
}

@keyframes ppmarquee {
    0% {
        translate: 0 0;
      }
      100% {
        translate: calc(-100% - 60px) 0;
      }
}

@keyframes fullstack-appear {
    0% {
        opacity: 1;
        -webkit-transform: translateX(-85%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(-15%);
    }
}

@keyframes fullstackmarquee {
    0% {
        translate: 0 0
      }
      100% {
        translate: calc(100% + 60px) 0;
      }
}

.homepage-spacer {
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

.homepage-section-container {
    height: 100vh;
    width: 100%;
}