@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

@font-face {
  font-family: DrukWide;
  src: local("DrukWide"),url(./fonts/DrukWide-Super-Web.otf) format("opentype");
}

@font-face {
  font-family: AbsoluteEmp;
  src: local("AbsoluteEmp"),url(./fonts/aAbsoluteEmpire.otf) format("opentype");
}

@font-face {
  font-family: OneSlice;
  src: local("OneSlice"),url(./fonts/One-Slice.otf) format("opentype");
}

@font-face {
  font-family: BluuSuperstar;
  src: local("BluuSuperstar"),url(./fonts/bluu-suuperstar.otf) format("opentype");
}

@font-face {
  font-family: Designer;
  src: local("Designer"),url(./fonts/Designer.otf) format("opentype");
}


:root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}
